#footer{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px #4fb68d;
  font-family: Georgia, serif;
};
.card{
    border: none;
    
};
.titulo{
    border: none;
    text-align: center;
    font-size: 15px;
};
#pie:hover{
 color: #4fb68d;
 position: relative;
  left: 20px;
}
