.card_content{
    text-align: start;
}
.card_content{
    font-size: smaller;
}
.seller_body,.card_content,.card_header,.myCard{
    box-sizing: border-box;
 
    height: 100%;

    overflow: hidden;

}
.card_footer{
    background-color: white;
}


@media only screen and (max-width: 500px) {
  .cGroup{
      flex-direction: row;
  }
}
.text-center {
    background: #dfe6e9;
}
#boton{
    	font-size: 1.4rem !important;
	padding: 1rem 4rem !important;
	border: none !important;
	background: #00b894 !important;
	color: #fff !important;
	transition: 0.2 ease-out !important;
}
#boton:hover{
background: #fdcb6e !important;
		transition: 0.2 ease-out !important;
		cursor: pointer !important;
		color: #000 !important;
}
