#usuario{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  background-color:#4fb68d ;
}
#completa{
    margin: auto;
}
#historial{
    margin-right: 10px;
}
button{
     position: relative;
    float: right;
    margin-left: 10px;
}
#image{
    width: 171px;
    height:180px ;
    margin-bottom: 20px;
}